$primary-color: #aa0000; 
$secondary-color: #333;



/* About Page Styling */
.about-page {
    padding: 2rem 0;
  }
  
  .about-page h1, .about-page h2 {
    color: $secondary;
  }
  
   .square {
    transition: transform 0.3s ease;
  }
  
.square:hover {
    transform: scale(1.05);
  }

.square-1, .square-3{
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.square-2{
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}


.values i {
    color: $primary; /* Icon color */
  }




  
  